@import url("https://use.typekit.net/jbj5tzy.css");
@import "tailwindcss";

:root {
  --light: 245, 238, 224;
  --dark: 35, 12, 6;
  --yellow: 221, 172, 75;
  --red: 102, 12, 12;
  --orange: 140, 47, 24;
  --brown: 87, 29, 15;
}

@theme inline {
  --color-background: rgb(var(--light));
  --color-foreground: rgb(var(--dark));
  --font-serif: "Gimlet", serif;
}

@layer base {
  * {
    @apply !scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
  }
  button {
    @apply active:outline-none;
  }
}

@layer utilities {
  .heading {
    @apply font-bold text-4xl md:text-5xl text-center;
  }
}
